body{
    background-color: blue;
}
.header
{
	color: white;font-family: 'Yeon Sung';
    font-size: 45px;
    letter-spacing: 10px;
    margin-top: 80px;
}
.header img
{
    width: 80px;
    margin-left: -15px;
}
.login_div{
    background-color: aliceblue;
    float:none;
    border-radius: 20px;

}
#img{
    border-radius: 40px;
    width: 120px;
    margin-top: 30px;
    margin-bottom: 10px;

}
#button1{
    width:80%;
    margin-bottom:15px;
}